<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            aria-current="page"
            routerLink="/"
            >Products</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ cartItemCount }} <i class="fas fa-shopping-cart"></i>
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end shopping-cart"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <app-shopping-cart></app-shopping-cart>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fas fa-user"></i>
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownMenuLink"
          >
            userSetting
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
